<%- include('../partials/header') %>

<div class="card-group">
      <div class="card" style="width: 15rem;">
        <img src="/images/bacon.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The Nike Air Max 90<br> “Bacon”<br></h5>
          <p class="card-text">
            $140
          </p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
      <div class="card" style="width: 15rem;">
        <img src="/images/banned.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Air Jordan 1 Retro High OG<br> “Banned”<br></h5>
          <p class="card-text">
            $170
          </p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
      <div class="card" style="width: 15rem;">
        <img src="/images/cloud.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The adidas Yeezy 450<br> “Cloud White”<br></h5>
          <p class="card-text">
            $200
          </p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
  </div>

  <div class="card-group">
    <div class="card" style="width: 15rem;">
      <img src="/images/cream.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">The adidas Yeezy Boost 700 v2<br> “Cream”<br></h5>
        <p class="card-text">
            $240 
        </p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
    <div class="card" style="width: 15rem;">
      <img src="/images/dunklow.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Nike Dunk Low<br> “University Blue”<br></h5>
        <p class="card-text">
          $100
        </p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
    <div class="card" style="width: 15rem;">
      <img src="/images/taxi.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">The Air Jordan 12<br> “Taxi”<br></h5>
        <p class="card-text">
            $190
        </p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>
  
</div>
<%- include('../partials/footer') %>