<!DOCTYPE html>

    <html lang="en">
    
        <head>
            <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Permanent+Marker&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
            <link rel='stylesheet' href='/stylesheets/style.css' />
            <title><%= title %></title>
          </head>
    
    <body>
      <div class="navbar">
        <nav>
          <div class="nav-wrapper">
                <a href="/shoppers" >Home</a>
                <a href="/news" >Sneaker News</a>
                <a href="/sneakers/new" >Sneaker Sell</a>
                <a href="/sneakers" >Sneaker List</a>
            <ul class="right">
              <li>
                <% if (user) { %>
                  <a href="/logout"><i class="material-icons left"></i>Log Out</a>
                <% } else { %>
                  <a href="/auth/google"><i class="material-icons left"></i>Login</a>
                <% } %>
              </li>
            </ul>
          </div>
        </nav>
      </div>
        <main>
            <h2 >Ed's Sneaker</h2>  
            <h3>Portal</h3>