<%- include('../partials/header') %>

      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="/images/350.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">03.20</h5>
              <p class="card-text">
                Yeezy 350 Boost V2 "Ash Pearl"<br>
                $ 220<br>
                
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/images/runner.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">03.26</h5>
              <p class="card-text">
                Yeezy Foam Runner "Sand"<br>
                $ 75<br>
              
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/images/runner1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">03.26</h5>
              <p class="card-text">
                Yeezy Foam Runner "MXT Moon Grey"<br>
                $ 75<br>
              
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/images/700.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">03.27</h5>
              <p class="card-text">
                Yeezy 700 v3 "Kyanite"<br>
                $ 200<br>
              
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="/images/royal.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">04.17</h5>
              <p class="card-text">
                Air Jordan 1 High "Hyper Royal"<br>
                $ 170<br>
              
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/images/jordan11.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">04.24</h5>
              <p class="card-text">
                Air Jordan 11 Low "Legend Blue"<br>
                $ 185<br>
              
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/images/jordan4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">04.28</h5>
              <p class="card-text">
                Air Jordan 4 "University Blue"<br>
                $ 200<br>
              
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="/images/shadow.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">05.15</h5>
              <p class="card-text">
                Air Jordan 1 High Shadow 2.0<br>
                $ 170<br>
              
              </p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>