<%- include('../partials/header') %>
    <form id="new-form" action="/sneakers" method="POST">
        <label>Title:</label>
        <input type="text" name="title">
        <label>Condition:</label>
        <select name="condition">
            <option value="NEW">NEW</option>
            <option value="USED">USED</option>
        </select>
        <label>Size:</label>
        <select name="size">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
        </select>
        <label>Box</label>
        <select name="box">
          <option value="GOOD CONDITION">GOOD CONDITION</option>
          <option value="MISSING LID">MISSING LID</option>
          <option value="DAMAGED">DAMAGED</option>
          <option value="NO ORIGINAL BOX">NO ORIGINAL BOX</option>
        </select>
        <label>Issue:</label>
        <select name="issue">
            <option value="YELLOWING">YELLOWING</option>
            <option value="MISSING INSOLES">MISSING INSOLES</option>
            <option value="SCUFF MARK">SCUFF MARK</option>
            <option value="CUT OR TEAR">CUT OR TEAR</option>
            <option value="OTHER">OTHER</option>
            <option value="NO DEFECTS">NO DEFECTS</option>
        </select>
        <label>Price:</label>
            <input type="number" name="price">
        <label>Description:</label>
            <textarea name="description"></textarea>
        <input type="submit" value="Add Sneaker">
      </form>
<%- include('../partials/footer') %>