<%- include('../partials/header') %>
    
  
    
<div class="card-title">
  <% shoppers.forEach(function(shopper) { %>
    <div>
        <% if(shopper._id.equals(user && user._id)){ %>
        <span ><%= shopper.name %></span>
        
        <% } else { %>
        
        <% } %>           
    </div>
  <% }) %>


</div>
    
  


  <%- include('../partials/footer') %>